
@model WebApplication1.Models.PasswordModel

<div>
    @using (Html.BeginForm("Index", "Dashboard"))
    {
        @Html.AntiForgeryToken()

        <div>
            <div>
                @Html.Label("Site name", new { @id = "label-site-name" })
                @Html.TextBoxFor(Model => Model.SITE_NAME, new { @class = "form-control", style = "margin-auto;", required = "required" })
            </div>
            <div>
                @Html.Label("Site Password", new { @id = "label-site-password" })
                @Html.PasswordFor(Model => Model.SITE_PASSWORD, new { @class = "form-control", style = "margin-auto;", required = "required" })
            </div>
        </div>

        <div style="text-align:right">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <input name="Submit" value="Submit" type="submit" class="btn btn-primary">
        </div>
    }
</div>