@model WebApplication1.Models.DashboardModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div>
        <h4 style="text-align:center">My Password List</h4>
        <button class="btn btn-info btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#add-password-modal">Add new password</button>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Site name</th>
                    <th scope="col">Password</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var data in Model.PasswordList)
                    {
                        <tr>
                            <th scope="row">@data.ID</th>
                            <td>@data.SITE_NAME</td>
                            <td>@data.SITE_PASSWORD</td>
                            <td>
                                <div>
                                    <button class="btn btn-danger btn-sm">Delete</button>
                                    <button class="btn btn-info btn-sm">Modify</button>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div id="add-password-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add new student</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Html.Partial("_AddPassword", Model.PasswordModel)
                </div>
            </div>
        </div>
    </div>
</body>
</html>
